<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta name="author" content="Carlos Alexandre">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/principal.css">
		<title>Sistema de Torneio de Xadrez</title>
	</head>

	<body>
		<div class="fundo_da_pagina">

			<!-- Cabeçalho da página -->
			<div class="fundo_menu">
								<table class="menu">
									<tr>
										<td>
											<h1 class="titulo"> Torneiro de <br/> Xadrez </h1>
										</td>
										<td>
											<a href="/index">Home</a>
										</td>
										<td>
											<a href="/registro">Registro</a>
										</td>
										<td>
											<a href="/agendamento">Agendamento</a>
										</td>
										<td>
											<a href="/resultados">Resultados</a>
										</td>
										<td>
											<a href="/classificacao">Classificação</a>
										</td>
									</tr>
								</table>

				<div class="data"> <script type="text/javascript" src="js/data.js"></script></div>
				<hr/>

			</div>
			<!-- Fim do cabeçalho da página -->
			<!-- Conteúdo da página -->
			<form id="formulario" name="classificacao">
				<fieldset>
					<legend>Classificação</legend>
						<% if(jogadores.length > 0){%>
							<table class="classificacao">
							  <tr>
							    <th>#</th>
							    <th>Nome do Jogador(a):</th>
							    <th>Cidade do Jogador(a):</th>
							    <th>ELO Rating:</th>
							    <th>Vitórias:</th>
							    <th>Derrotas:</th>
							    <th>Empates:</th>
							  </tr>
								<% for(var i = 0; i<jogadores.length; i++){%>
									<tr>
								    <td><%=i+1%></td>
								    <td><%=jogadores[i].nome%></td>
										<td><%=jogadores[i].cidade%></td>
										<td><%=jogadores[i].ELO%></td>
										<td><%=jogadores[i].vitorias%></td>
										<td><%=jogadores[i].derrotas%></td>
										<td><%=jogadores[i].empates%></td>
								  </tr>
								<%}%>
							</table>
						<%} else { %>
							Não há jogadores no torneio.
						<%}%>
					</fieldset>
				<br/>
				<!-- Botão Voltar -->
				<div class="botoes">
					<input type="button" value="Voltar" onClick="history.go(-1)">
				</div>
			</form>
			<!-- Fim do conteúdo -->


		<!--Créditos -->
		<div class="fundo_rodape">
			<div id="rodape">
				<img src="img/ufjf.png" alt="Logo da UFJF" height="50px"/> <br/>
				Carlos Alexandre<br/>
				Laboratório de Programação VI 2016.3<br/>
				Universidade Federal de Juiz de Fora
			</div>

		</div>
		</div>

	</body>

</html>
